@use "../abstracts/" as *;

.active-tags {
	background-color: #fff;
	box-shadow: 0 5px 30px -10px #999;
	padding: 1rem;
	width: 90%;
	border-radius: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: 0.8rem;
	}
	&__clear {
		color: $darkGrayishCyan;
		font-weight: 700;
		&:hover {
			transition: 0.3s;
			color: $desaturatedDarkCyan;
			text-decoration: underline;
			cursor: pointer;
		}
	}
}

@media screen and (min-width: 600px) {
	.active-tags {
		padding-inline: 2rem;
	}
}
