@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
.container {
  margin-inline: auto;
  background-color: hsl(180deg, 52%, 96%);
}
.container__image {
  height: 10rem;
  background-color: hsl(180deg, 29%, 50%);
  background-image: url(../assets/images/bg-header-mobile.svg);
  background-size: cover;
}

@media screen and (min-width: 600px) {
  .container__image {
    background-image: url(../assets/images/bg-header-desktop.svg);
  }
}
.listings {
  display: flex;
  flex-direction: column;
  padding-block: 4rem;
  gap: 3rem;
  width: 90%;
  max-width: 900px;
  margin-inline: auto;
}

.listing.new {
  border-left: 5px solid hsl(180deg, 29%, 50%);
}

.listings.translate {
  translate: 0 -5rem;
}

.listing {
  background-color: #fff;
  box-shadow: 0 5px 30px -10px #999;
  padding: 1rem;
  position: relative;
  border-radius: 0.5rem;
}
.listing__tags {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.listing__info {
  margin-top: 1rem;
  border-bottom: 1px solid #999;
}
.listing__info__logo {
  position: absolute;
  top: 0;
  left: 1rem;
  translate: 0 -50%;
  width: 3rem;
}
.listing__info__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}
.listing__info__text__top {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.listing__info__text__top p {
  margin-right: 0.5rem;
  font-weight: 700;
  color: hsl(180deg, 29%, 50%);
}
.listing__info__text__role {
  font-weight: 700;
}
.listing__info__text__role:hover {
  transition: 0.3s;
  cursor: pointer;
  color: hsl(180deg, 29%, 50%);
}
.listing__info__text__bottom {
  display: flex;
  gap: 0.5rem;
  color: hsl(180deg, 8%, 52%);
}

@media screen and (min-width: 600px) {
  .listing {
    display: flex;
    align-items: center;
    padding: 2rem;
  }
  .listing__tags {
    padding-top: 0;
    margin-left: auto;
  }
  .listing__info {
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
  }
  .listing__info__logo {
    position: relative;
    translate: initial;
    left: 0;
    width: 5rem;
  }
  .listing__info__text {
    padding-bottom: 0;
  }
  .listing__info__text__top {
    gap: 0.5rem;
  }
}
.pill, .pill--featured, .pill--new {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding: 0.4rem;
  padding-bottom: 0.2rem;
  border-radius: 100px;
  font-size: 0.8rem;
}
.pill--new {
  background-color: hsl(180deg, 29%, 50%);
}
.pill--featured {
  background-color: #000;
}

.tag {
  display: flex;
  align-items: center;
  font-weight: 700;
  width: min-content;
  border-radius: 0.3rem;
  overflow: hidden;
}
.tag__label {
  color: hsl(180deg, 29%, 50%);
  background-color: hsl(180deg, 52%, 96%);
  padding: 0.4rem;
}
.tag__label:hover {
  transition: 0.3s;
  background-color: hsl(180deg, 29%, 50%);
  color: hsl(180deg, 52%, 96%);
  cursor: pointer;
}
.tag__button {
  color: hsl(180deg, 52%, 96%);
  background-color: hsl(180deg, 29%, 50%);
  padding: 0.4rem;
  height: 100%;
}
.tag__button:hover {
  transition: 0.3s;
  background-color: #000;
  cursor: pointer;
}
.tag__button img {
  display: block;
}

.active-tags {
  background-color: #fff;
  box-shadow: 0 5px 30px -10px #999;
  padding: 1rem;
  width: 90%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.active-tags__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.active-tags__clear {
  color: hsl(180deg, 8%, 52%);
  font-weight: 700;
}
.active-tags__clear:hover {
  transition: 0.3s;
  color: hsl(180deg, 29%, 50%);
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .active-tags {
    padding-inline: 2rem;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "League Spartan", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
